* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}


.container{
    width: 90%;
    margin: 0 auto;
}




/* Header */
header{
    background-color: #0084fd;
    height: 100px;
    position: fixed;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
}

#menudesktop {
    display: none;
}

    /* versione desktop and tablet header */

    @media screen and (min-width: 768px) {
        #menumobile{
            display: none;
        }

        #menudesktop{
            display: block;      
        }
        
    }




    /* Main */

     main{
        padding-top: 100px;
     }




    /* Sezione Developer */

    .container-white{
        background-color: white;
        width: 100%;
        margin-bottom: 30px;
    }

    .row{
        width: 90%;
        margin: 20px auto;
        background-color: #b5ddff;
        border-radius: 20px;

    }


    .col{
        width: 90%;
        margin: 0 auto 20px;
        text-align: center;
        padding: solid white 20px;

    }


/* versione desktop and tablet header */

    @media screen and (min-width: 768px) {
       .row{
        display: flex;
        justify-content: space-between;
       }

       .col{
        width: 45%;
       }
        
    }


















/* Footer */
footer{
    background-color: #333333;
}














/* Regole di debug */
/* 
section{
    min-height: 150px;
    background-color: brown;
    margin-bottom: 20px;
}


footer {
    min-height: 150px;
}

.container {
    background-color: aqua;
    min-height: 50px;
}

#logo, header nav {
    min-width: 50px;
    background-color: blueviolet;
    min-height: 50px;
    border: solid 1px white;
}


.row{
    min-height: 200px;
} */