* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}


.container{
    width: 90%;
    margin: 0 auto;
}




/* Header */
header{
    background-color: #0084fd;
    height: 100px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

#menudesktop {
    display: none;
}

    /* versione tablet */

    @media screen and (min-width: 768px) {
        #menumobile{
            display: none;
        }

        #menudesktop{
            display: block;      
        }
        
    }

/* versione desktop */












/* Footer */
footer{
    background-color: #333333;
}














/* Regole di debug */

section{
    min-height: 150px;
    background-color: brown;
    margin-bottom: 20px;
}


footer {
    min-height: 150px;
}

.container {
    background-color: aqua;
    min-height: 50px;
}

#logo, header nav {
    min-width: 50px;
    background-color: blueviolet;
    min-height: 50px;
    border: solid 1px white;
}